*{
  box-sizing: border-box;
  margin: 0;
  margin-top: 0;
}
.hero-image{
  background-image: url(https://unsplash.com/photos/black-and-brown-rotary-phone-near-gray-wall--0xCCPIbl3M);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}