
#woodbackground {
  background-image: url(../images/wood-backdrop-unsplash-small.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: antiquewhite;
  height: 150px;
}

#brickwall h2 {
  color: antiquewhite;
}

.desc {
  color:antiquewhite;
}

#brickwall {
  background-size: cover;
  background-image: url(../images/indoor-brick-wall-texture.jpg);
  border-top: solid 3px var(--brew-bound-logo);
}

.welcome {
  color: antiquewhite;
  position: absolute;
  margin-top: 70px;
}

.sendphotos {
  padding: 20px;
  position: relative;
  margin-left: 40px;
}

.home a {
  text-decoration: none;
  font-size: 1.75rem;
  text-align: left;
  color: whitesmoke;
  position: relative;
  padding: 10px;
  text-shadow: black 0 0 .3rem; 
  &:hover {
    color: #CD6305;
  }
}

div.gallery img{
  width: 300px;
  height: 300px;
}

div.gallery {
  border: 3px solid #ccc;
  display: ruby-text;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  width: 100%;
  height: 100%;
  padding-top: 15px;
  padding-inline: 15px;
  float: left;
  width: 24.99999%;
}

.bottomp {
  color: antiquewhite;
  font-size: 40px;
  position: relative;
  text-align-last: center;
  padding:10px;
}

#contactfooter {
  background-color: #770A05;
  height: 150px;
  border-top: 2px solid var(--brew-bound-logo);
  margin-top: 20px;
}

#linkstyling a {
  text-decoration: none;
  font-size: 1.25rem;
  color: antiquewhite;
  text-shadow: black 0 0 .3rem;
  padding: 10px; 
  &:hover {
    color: #CD6305;
  }
}

/*  footer logo */
#footerlogo{
  height: 150px;
  width: 150px;
}

/* copywrite section */
.copywrite{
  color: antiquewhite;
  align-items: center;
}

@media only screen and (max-width: 1363px) {
  .responsive {
    width: 100%;
    height: 100%;
    padding-top: 15px;
    padding-inline: 15px;
    float: left;
    width: 50%;
  }
}

@media only screen and (max-width: 850px){
  .responsive {
    padding-top: 15px;
    padding-inline: 15px;
    float: left;
    width: 45%;
  }
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 75%;
    height: 75%;
    display: table;
    margin-left: 45px;
  }
}

.bottomp {
  color: antiquewhite;
  font-size: 20px;
  position: relative;
  text-align-last: center;
  padding:10px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#linkstyling a {
  text-decoration: none;
  font-size: 1rem;
  color: antiquewhite;
  text-shadow: black 0 0 .3rem;
  &:hover {
    color: #CD6305;
  }
}