/* color scheme sourced from https://coolors.co/ 
- This is also Attached in Images. */
:root {
  --aureolin: #FBEE37;
  --alloy-orange: #CD6305;
  --barn-red: #770A05;
  --brew-bound-logo: #644521;
}

/* The Hero Image */
.imageContainer {
  width: 100%;
  height: 25rem;
  overflow: hidden;
  position: relative;
  border-bottom: 3px solid var(--brew-bound-logo);
}
.imageCenterer {
  width: 100%;
  position: absolute;
}
.imageCenterer img {
  display: block;
  margin: 0 auto;
  width: 100%;
  transform: translateY(-45%);
}

#home  {
  text-decoration: none;
   font-size: 1rem;
   text-align: left;
   color: whitesmoke;
   position: relative;
   padding: 10px;
   text-shadow: black 0 0 .3rem; 
   &:hover {
     color: #CD6305;
   }
}

/* link hover and styling  */
#linkstyling a {
  text-decoration: none;
  font-size: 1.25rem;
  color: whitesmoke;
  text-shadow: black 0 0 .3rem;
  padding: 10px; 
  &:hover {
    color: var(--alloy-orange);
  }
}

.form-results-title {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--barn-red);
  text-shadow: black 0 0 .3rem;
  height: 50px;
  font-size: xx-large;
  color: white;
  text-indent: 20px;
  border-bottom: 3px solid var(--brew-bound-logo);
}

.form-results-title p {
  transform: translateY(.45rem);
}

.brickwall {
  color: white;
  width: 100%;
  height: 1100px;
  background-size: cover;
  background-image: url(../images/indoor-brick-wall-texture.jpg);
}

/* Fetch results */
  .r1-card0 {
    background: url(../images/wood-plank-unsplash-small.jpg);
    height: 150px;
    width: 300px;
    border: 3px solid var(--barn-red);
    box-shadow: 0 0 0.6rem 0.3rem var(--alloy-orange);
    color: white;
    border-radius: 30px 30px 30px 30px;
    margin-top: 50px;
  }

  .r1-card1 {
    background: url(../images/wood-plank-unsplash-small.jpg);
    height: 150px;
    width: 300px;
    border: 3px solid var(--barn-red);
    box-shadow: 0 0 0.6rem 0.3rem var(--alloy-orange);
    color: white;
    border-radius: 30px 30px 30px 30px;
    margin-top: 50px;
  }

  .r1-card2 {
    background: url(../images/wood-plank-unsplash-small.jpg);
    height: 150px;
    width: 300px;
    border: 3px solid var(--barn-red);
    box-shadow: 0 0 0.6rem 0.3rem var(--alloy-orange);
    color: white;
    border-radius: 30px 30px 30px 30px;
    margin-top: 50px;
  }

  .r2-card3 {
    background: url(../images/wood-plank-unsplash-small.jpg);
    height: 150px;
    width: 300px;
    border: 3px solid var(--barn-red);
    box-shadow: 0 0 0.6rem 0.3rem var(--alloy-orange);
    color: white;
    border-radius: 30px 30px 30px 30px;
  }

  .r2-card4 {
    background: url(../images/wood-plank-unsplash-small.jpg);
    height: 150px;
    width: 300px;
    border: 3px solid var(--barn-red);
    box-shadow: 0 0 0.6rem 0.3rem var(--alloy-orange);
    color: white;
    border-radius: 30px 30px 30px 30px;
  }

  .r3-card5 {
    background: url(../images/wood-plank-unsplash-small.jpg);
    height: 150px;
    width: 300px;
    border: 3px solid var(--barn-red);
    box-shadow: 0 0 0.6rem 0.3rem var(--alloy-orange);
    color: white;
    border-radius: 30px 30px 30px 30px;
    margin-bottom: 50px;
  }

  .r3-card6 {
    background: url(../images/wood-plank-unsplash-small.jpg);
    height: 150px;
    width: 300px;
    border: 3px solid var(--barn-red);
    box-shadow: 0 0 0.6rem 0.3rem var(--alloy-orange);
    color: white;
    border-radius: 30px 30px 30px 30px;
    margin-bottom: 50px;
  }

  .r3-card7 {
    background: url(../images/wood-plank-unsplash-small.jpg);
    height: 150px;
    width: 300px;
    border: 3px solid var(--barn-red);
    box-shadow: 0 0 0.6rem 0.3rem var(--alloy-orange);
    color: white;
    border-radius: 30px 30px 30px 30px;
    margin-bottom: 50px;
}


/* Styling for form input */
#redo-search-title {
  background-color: var(--barn-red);
  box-shadow: 0 0 .6rem .3rem var(--alloy-orange);
  color: white;
  border-radius: 30px;
  text-align: center;
}

#redo-search-title p {
  padding: 10px;
  line-height: 2rem;
}

.placeholder-text label {
  display: none;
}

.placeholder-text input {
  font-style: italic;
  margin: 10px auto;
  &:focus, &:hover {
    background-color: #dee1e4;
    box-shadow: 0 0 .6rem .3rem var(--barn-red);
  }
}

.placeholder-text select {
  margin: 10px auto;
  &:focus, &:hover {
    font-style: normal;
    background-color: #dee1e4;
    box-shadow: 0 0 .6rem .3rem var(--barn-red);
  }
} 

option:first-of-type {
  display: none;
}

#submit {
  display: flex;
  color: white;
  position: relative;
  align-content: end;
  padding: 5px 30px;
  margin: 30px auto;
  background-color: var(--barn-red);
}

.dropdown-toggle {
  margin: 10px;
  flex-wrap: wrap;
  white-space: normal;
}


.randomizer-btn {
width: 300px;
  display: flex;
  border-radius: 15px;
  padding: 20px;
  color: white;
  background-color: var(--barn-red);
  height: 30px;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--brew-bound-logo);
  position: absolute;
  text-shadow: 1px 1px 5px black;
  height: 150px;
}

#contactfooter {
  background-color: var(--barn-red);
  height: 150px;
  border-top: 5px solid var(--brew-bound-logo);
}


/*  footer logo */
#footerlogo{
  height: 150px;
  width: 150px;
}

/* copywrite section */
.copywrite{
  color:rgb(246, 247, 249);
  align-items: center;
}

#websiteLink {
  text-decoration: none;
}



