/* color scheme sourced from https://coolors.co/ 
- This is also Attached in Images. */
:root {
  --aureolin: #FBEE37;
  --alloy-orange: #CD6305;
  --barn-red: #770A05;
  --brew-bound-logo: #644521;
}


/* This is where the Hero Img is placed */
header {
  background-image: url(../images/hero-img-unsplash.jpg);
  height: 25rem;
  background-size: cover;
  background-position: center;
}

  .home {
    text-decoration: none;
    font-size: 25px;
    text-align: left;
    padding: 10px;
    color: whitesmoke;
  }

nav {
  text-align: center;
}
/* nav:hover{
  background-color: #f2f2f2;
  color: #007bff;;
} */

/* This is the Link styling for all links on the page. */
a{
  color: var(--alloy-orange);
  margin: 5px;
}


/* This is the background of the Main tag - this is the area behind the form in the event the image fails to load properly - that it has a color space to have to match the theme. */
.form-background container {
  background-color: var(--kobicha);
  display: flex;
  margin: 50px;
  height: 500px;
  justify-content: space-between;
}


/* Main Tag Backround image*/
#form-selection {
  color: white;
  background-size: cover;
  background-image: url(../images/indoor-brick-wall-texture.jpg);
  border-top: solid 3px var(--brew-bound-logo);
}


/* Styling for form input*/
h1 {
  color: white;
  font-size: 19px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.placeholder-text label {
  display: none;
}

.placeholder-text input {
  font-style: italic;
  margin: 10px auto;
  &:focus, &:hover {
    background-color: #dee1e4;
    box-shadow: 0 0 .6rem .3rem var(--barn-red);
  }
}
.placeholder-text select {
  margin: 10px auto;
  &:focus, &:hover {
    font-style: normal;
    background-color: #dee1e4;
    box-shadow: 0 0 .6rem .3rem var(--barn-red);
  }
} 

option:first-of-type {
  display: none;
}

#submit {
  display: flex;
  color: white;
  position: relative;
  align-content: end;
  padding: 5px 30px;
  margin: 30px 0px;
  background-color: var(--barn-red);
}

.dropdown-toggle {
  margin: 10px;
  flex-wrap: wrap;
  white-space: normal;
}

/* aside tag location to be on the right */
.aside-container {
  display: flex;
  background-color: #ffd9ab;
  border-radius: 20px;
  flex-direction: column;
  width: 200px;
  height: 300px;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 20px;
  border: 2px solid #412708;
  position: relative;
}

.flexContainer {
  display: flex
}

/* JS appended card for asisde section */
#best-brew{
  display: flex;
  margin: 0 auto;
  color: var(--brew-bound-logo);
  position: relative;
  top: 3rem;
}

.cEl, .sEl, .pEl {
  color: #644521; 
  font-size: 12px;
  line-height: 1.75rem;
  & .col-3 {
    margin: 0 -.2rem;
  }
}

/* buttons for brew spotlight */
.spotlight {
  position: relative;
  align-content: center;
}

.tab, .websiteLink {
  width: 80%;
  display: flex;
  border-radius: 15px;
  padding: 20px 0px;
  color: white;
  background-color: var(--barn-red);
  height: 30px;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--brew-bound-logo);
  position: absolute;
  text-decoration: none;
  text-shadow: 1px 1px 5px black;
}

.tab {
  top: 1rem;
}

.websiteLink {
  bottom: 1rem;
}

/* This is the About Us Section  */
article.container-about-us {
  background-color: var(--brew-bound-logo);
  color: white;
  line-height: 1.4;
}

.about-us-content {
  padding: 10px;
  margin: center;
  text-wrap: wrap;
}


h4 {
  color: var(--alloy-orange);
  text-shadow: 2px 8px 6px #00000033, 0px -5px 35px #e1e1ff4d;
  font-size: x-large;
  word-spacing: 2px;
}

#logo {
  border-radius: 45px 45px 45px 45px;
  object-fit:cover;
  margin-top: 25px;
  margin-left: 35px;
}

/* shrinking the images */
#carousel img{
  max-width: 100%;
  margin: auto;
}
/* The beer cheers emoji only */
#cheers {
  font-size: 30px;
}

/* created a container for the carousel in a row */
#carousel{
  display: flex;
  gap: 40px;
  margin-left: 130px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-clip: border-box;


/* created the /border/colors usinf flex */
}
.carousel-inner{
  display:flex ;
  border-radius: 20px;
  border-color: #412708;
  border-style: solid;
}
/*noticable transition without .2s */
.carousel-item {
  transition-duration: .2s;
}


#contactfooter {
  display: flex;
  padding-top: 40px;
  flex-direction: row;
  justify-content: center;
  background-color: var(--barn-red);
  height: 150px;
  }
  
  #linkstyling a {
  color: #dee1e4;
  padding-left: 10px;
  text-decoration: none;
  }
  #linkstyling a:hover{
    background-color: #f2f2f2;
    color: #007bff;;
  }
  
  .copywrite {
  display: flex;
  padding-top: 40px;
  color:aliceblue;
  }


/* applying media query */

@media screen and (max-width: 768px) {
.col-3 {
  display: flex;
  margin-top: 100px;
}
.about-us-content {
  display: block;
}
.col-9 {
  display: flex;
  flex-wrap: wrap;
}
#logo {
  margin-left: 25px;
}
/* #contact {
  margin: 20px;
 } */
}


@media screen and (max-width: 430px) {
  .home {
    font-size: 15px;
  }
}
  .placeholder-text select {
    margin: 10px auto;
    font-size: 10px;
    &:focus, &:hover {
      font-style: normal;
      background-color: #dee1e4;
      box-shadow: 0 0 .6rem .3rem var(--barn-red);
    }
  } 
  #logo {
    width: 200px;
    position:relative;
    margin-left: 125px;
  }
  .col-9 {
    position: relative;
    margin-left: 75px;
  }