/* color scheme sourced from https://coolors.co/ 
- This is also Attached in Images. */
:root {
  --aureolin: #FBEE37;
  --alloy-orange: #CD6305;
  --barn-red: #770A05;
  --brew-bound-logo: #644521;
}


/* This is where the Hero Img is placed */
  header {
    background-image: url(../images/hero-img-unsplash.jpg);
    height: 25rem;
    background-size: cover;
    background-position: center;
  }


  nav {
    text-align: right;
}


/* This is the Link styling for all links on the page. */
a{
  color: var(--alloy-orange);
  margin: 5px;
}


/* This is the background of the Main tag - this is the area behind the form in the event the image fails to load properly - that it has a color space to have to match the theme. */
.form-background container {
  background-color: var(--kobicha);
    display: flex;
    margin: 50px;
    height: 500px;
    justify-content: space-between;
}


/* Main Tag Backround image*/
#form-selection {
  color: white;
  background-size: cover;
  background-image: url(../images/indoor-brick-wall-texture.jpg);
  border-top: solid 3px var(--brew-bound-logo);
}


/* Styling for form input*/
  h1 {
    color: white;
    font-size: 19px;
    margin-top: 30px;
    margin-bottom: 30px;
     text-align: center;
  }

  .placeholder-text label {
    display: none;
  }

  .placeholder-text input {
    font-style: italic;
    margin: 10px auto;
    &:focus {
      background-color: #dee1e4;
      box-shadow: 0 0 .6rem .3rem var(--barn-red);
    }
  }

  .placeholder-text select {
    margin: 10px auto;
    &:focus {
      font-style: normal;
      background-color: #dee1e4;
      box-shadow: 0 0 .6rem .3rem var(--barn-red);
    }
  }

  option:first-of-type {
    display: none;
  }

  #submit {
    display: flex;
    color: white;
    position: relative;
    align-content: end;
    padding: 5px 30px;
    margin: 30px 0px;
    background-color: var(--barn-red);
  }

  .dropdown-toggle {
    margin: 10px;
    flex-wrap: wrap;
    white-space: normal;
}


/* title on top of the side bar */
.tab {
  display: flex;
    border-radius: 30px 30px 30px 30px;
    padding: 20px;
  color: white;
  background-color: var(--barn-red);
  width:198px;
  height: 30px;
  justify-content: center;
  align-items: center;
}


/* JS appended card for asisde section */
#best-brew{
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  color: var(--brew-bound-logo)
}


/* aside tag location to be on the right */
.aside-container {
  display: flex;
  background-color: #ffd9ab;
  border-radius: 30px 30px 30px 30px;
  flex-direction: column;
  width: 200px;
  height: 400px;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 20px;
  border: 2px #412708;
}


/* aside button */
button {
  border-radius: 20px;
  background-color: #2d0d4a;
  color: #f1f2f4;
  width: 100px;
}



/* This is the About Us Section  */
article.container-about-us {
  background-color: var(--brew-bound-logo);
  color: white;

}


