/* color scheme sourced from https://coolors.co/ 
- This is also Attached in Images. */
:root {
  --aureolin: #FBEE37;
  --alloy-orange: #CD6305;
  --barn-red: #770A05;
  --brew-bound-logo: #644521;
}


/* This is where the Hero Img is placed */
header {
  background-image: url(../images/hero-img-unsplash.jpg);
  height: 25rem;
  background-size: cover;
  background-position: center;
}

#home {
  display: flex;
  position: relative;
  justify-content: left;
  margin-left: 20px;
  padding-top: 5px;
}

#home a {
  text-decoration: none;
  font-size: 1.75rem;
  text-align: center;
  color: whitesmoke;
  position: relative;
  padding: 10px;
  text-shadow: black 0 0 .3rem; 
  &:hover {
    color: var(--alloy-orange);
  }
}

/* This is the background of the Main tag - this is the area behind the form in the event the image fails to load properly - that it has a color space to have to match the theme. */
.form-background container {
  background-color: var(--kobicha);
  display: flex;
  margin: 50px;
  height: 500px;
  justify-content: space-between;
}


/* Main Tag Backround image*/
#form-selection {
  color: white;
  background-size: cover;
  background-image: url(../images/indoor-brick-wall-texture.jpg);
  border-top: solid 3px var(--brew-bound-logo);
}


/* Styling for form input*/
h1 {
  color: white;
  font-size: 19px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.placeholder-text label {
  display: none;
}

.placeholder-text input {
  font-style: italic;
  margin: 10px auto;
  &:focus, &:hover {
    background-color: #dee1e4;
    box-shadow: 0 0 .6rem .3rem var(--barn-red);
  }
}
.placeholder-text select {
  margin: 10px auto;
  &:focus, &:hover {
    font-style: normal;
    background-color: #dee1e4;
    box-shadow: 0 0 .6rem .3rem var(--barn-red);
  }
} 

option:first-of-type {
  display: none;
}

#submit {
  display: flex;
  color: white;
  position: relative;
  align-content: end;
  padding: 5px 30px;
  margin: 30px 0px;
  background-color: var(--barn-red);
}

#submit:hover{
    color: var(--alloy-orange);
}

.dropdown-toggle {
  margin: 10px;
  flex-wrap: wrap;
  white-space: normal;
}

/* aside tag location to be on the right */
.aside-container {
  display: flex;
  background-color: #ffd9ab;
  border-radius: 20px;
  flex-direction: column;
  width: 200px;
  height: 300px;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 20px;
  border: 2px solid #412708;
  position: relative;
}

.flexContainer {
  display: flex
}

/* JS appended card for asisde section */
#best-brew{
  display: flex;
  margin: 0 auto;
  color: var(--brew-bound-logo);
  position: relative;
  top: 3rem;
}

.cEl, .sEl, .pEl {
  color: #644521; 
  font-size: 12px;
  line-height: 1.75rem;
  & .col-3 {
    margin: 0 -.2rem;
  }
}

/* buttons for brew spotlight */
.spotlight {
  position: relative;
  align-content: center;
}

.tab, .websiteLink {
  width: 80%;
  display: flex;
  border-radius: 15px;
  padding: 20px 0px;
  color: white;
  background-color: var(--barn-red);
  height: 30px;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--brew-bound-logo);
  position: absolute;
  text-decoration: none;
  text-shadow: 1px 1px 5px black;
}

.tab {
  top: 1rem;
}

.websiteLink {
  bottom: 1rem;
}

.websiteLink:hover{
    color: var(--alloy-orange);
}

/* This is the About Us Section  */
article.container-about-us {
  background-color: var(--brew-bound-logo);
  color: white;
  line-height: 1.4;
}

.about-us-content {
  padding: 10px;
  margin: center;
  text-wrap: wrap;
}

h4 {
  color: var(--alloy-orange);
  text-shadow: 2px 8px 6px #00000033, 0px -5px 35px #e1e1ff4d;
  font-size: x-large;
  word-spacing: 2px;
}

#logo {
  border-radius: 45px 45px 45px 45px;
  object-fit: cover;
  margin-top: 25px;
  margin-left: 35px;
}

/* The beer cheers emoji only */
#cheers {
  font-size: 30px;
}
/* shrinking the images */
/* #carousel img{
  max-width: 100%;
  margin: 0 auto;
} */

/* created a container for the carousel in a row */
#carousel{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 20px auto;
  margin-top: 20px;

/* created the /border/colors usinf flex */
}
.carousel-inner{
  display:flex ;
  border-radius: 20px;
  border-color: #412708;
  border-style: solid;
}

#contactfooter {
  background-color: var(--barn-red);
  height: 150px;
  border-top: 2px solid var(--brew-bound-logo);
  margin-top: 20px;
}


/* link hover and styling  */
#linkstyling a {
  text-decoration: none;
  font-size: 1.25rem;
  color: whitesmoke;
  text-shadow: black 0 0 .3rem; 
  padding: 10px;
  &:hover {
    color: var(--alloy-orange);
  }
}

/*  footer logo */
#footerlogo{
  height: 150px;
  width: 150px;
}

/* copywrite section */
.copywrite{
  color:rgb(246, 247, 249);
  align-items: center;
}

/* applying media query */
@media screen and (max-width: 768px) {
  .col-3 {
    display: flex;
    margin-right: 100px;
  }
  .about-us-content {
    margin-top: 100px;
    display: block;
  }

  .col-9 {
    display: flex;
    flex-wrap: wrap;
  }
  #logo {
    margin-left: 25px;
  }
}

@media screen and (max-width: 430px) {
  .home {
    font-size: 15px;
  }
  
  .placeholder-text select {
    font-size: 10px;
  } 

  /* #logo {
    width: 200px;
    position:relative;
    margin-left: 125px;
  } */

  .col-9 {
    position: relative;
    margin-left: 75px;
  }
}